* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c2929;
  border-radius: 10px;
  color: #fff;
}

.messages-container {
  max-height: 300px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
}

.user-message .name {
  font-weight: bold;
}

.bot-message {
  text-align: left;
}

.bot-message .name {
  font-weight: bold;
}

.form-container {
  margin-top: 10px;
  display: flex;
}

.input-text {
  flex-grow: 1;
  padding: 5px;
  border: 1px;
  border-radius: 5px;
  background-color: #2c2929;
  color: #fff;
}

.send-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.clear-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

#response {
  margin-top: 10px;
  font-weight: bold;
}

#clear-chat-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(212, 208, 208);
  color: black;
  cursor: pointer;
}
